*{
    margin :0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color:white;
    display: flex;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.5);
    margin-bottom: 30px;
    z-index: 2;

}

.logo{
    height: 70px;
    width: 200px;
    background-image: url("logo.png");
    

}

.hero-section{
    margin-top: 120px;
    height: 600px;
    width: 100%;
    display: flex;
    

}

.heropart1{
    height: 500px;
    width: 60%;
    
}

.hero1-img{
    height:500px;
    width:500px ;
    margin-left: 10px;
    
    background-image: url("hero_image.png");
    background-size: cover;
    animation: rotate 10s ease-in-out 0s infinite normal;
}


@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.heropart2{
    height: 500px;
    margin-top: 50px;
    margin-left: 80px;
    
}

.offer{
    height: 32px;
    width: 187px;
    background-color: #149f39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offertext{
    color: white;
    font-size: 17px;

}

.hero2content{
    margin-top: 20px;

}

.hero2content h1{

    font-size: 60px;


     
}

.hero2content p{
    margin-top: 40px;
    font-size: 20px;
}

button{
    margin-top: 40px;
    height: 35px;
    width: 100px;
    background-color:#ffc066 ;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    
    
}

button:hover{
    background-color:#ffce8a ;
    
    
}

.features{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    margin-left: 20px;
    font-size: small;

}

.feature{
    height: 170px;
    width:300px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s ease-in-out;
    
    
}

.fsection{
    margin-left: 20px;
    margin-top: 10px;
    
}

.fsection p{
    margin-top: 10px;

}


.feature:hover{
    box-shadow: 1px 2px 2px rgba(1,1,1,0.5);
}

.ourmenu{
    margin-top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color:#149f39;
    color: white;
    
}

.expmenu{
    height: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.grid-image {
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
  .grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
  }
  .grid {
    display: grid;
    gap: 10px;
    /* grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7"; */

      grid-template-areas: "I1 I1 I2 I3"
                           "I1 I1 I2 I7"
                           "I4 I5 I6 I7";
  }
  
  .item1 {
    grid-area: I1;
  }
  .item2 {
    grid-area: I2;
  }
  .item3 {
    grid-area: I3;
  }
  .item4 {
    grid-area: I4;
  }
  .item5 {
    grid-area: I5;
  }
  .item6 {
    grid-area: I6;
  }
  .item7 {
    grid-area: I7;
  }


  .footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #f4dbb7;

  }

  .list1 ul{
    list-style-type: none;
  }


  .list2 ul{
    list-style-type: none;
  }


  















